:root {
  //Colores Principales
  --color-main-green: #03624c;
  --color-main-yellow: #f1d302;
  --color-main-gray: #c7d6d5;
  --color-main-white: #ecebf3;

  //Colores Secundarios
  --color-secondary-white: #fff;
  --color-secondary-black: #000;
}
