@use "../utils/mixins" as *;

* {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-size: 62.5%;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
    interpolate-size: allow-keywords;
  }
}

body {
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
}

body.no-scroll {
  overflow: hidden;
}

a {
  text-decoration: none;
}

img,
picture {
  display: block;
  max-width: 100%;
}

::selection {
  background: var(--color-10);
  color: var(--color-1);
}

.section {
  @include flex-center-content;
}
